.menu-page {
    padding: var(--spacing-lg) var(--spacing-sm);
    min-height: 80vh;
}

.menu-header {
    text-align: center;
    margin-bottom: var(--spacing-lg);
}

.menu-header p {
    color: var(--color-text-light);
    margin-top: -30px;
    /* pull closer to title */
    margin-bottom: 20px;
}