.menu-page {
    padding: var(--spacing-lg) var(--spacing-sm);
    min-height: 80vh;
}

.menu-header {
    text-align: center;
    margin-bottom: var(--spacing-lg);
}

.menu-header p {
    color: var(--color-text-light);
    margin-top: -30px;
    margin-bottom: 20px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: var(--spacing-md);
    padding-bottom: var(--spacing-lg);
}